@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf); }

#head .logo-img {
  width: 187px;
  margin: 25px 0 0 17px; }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: #1C7CD6;
  text-decoration: none;
  background-color: #f5f5f5; }

.dropdown.user-name .btn.btn-default.dropdown-toggle {
  all: unset;
  margin-top: 15px;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif;
  color: #1C7CD6;
  text-decoration: underline; }
  .dropdown.user-name .btn.btn-default.dropdown-toggle img {
    margin-right: 10px; }
  .dropdown.user-name .btn.btn-default.dropdown-toggle ul li a {
    font-family: 'Open Sans', sans-serif;
    color: #1C7CD6; }
  .dropdown.user-name .btn.btn-default.dropdown-toggle .caret {
    color: #1C7CD6; }

.user-info-block {
  font-family: "OpenSans";
  font-size: 14px;
  color: #062B51;
  letter-spacing: 0;
  line-height: 22px;
/*   max-width: 545px;
  margin: 0 auto;*/ } 
  .user-info-block .sizeform {
    width: 98%; }
  .user-info-block .col-md-12 {
    padding: inherit; }
    .user-info-block .col-md-12 h4 {
      line-height: 33px;
      border-bottom: 2px solid #F1F3F5;
      font-weight: 600;
      font-size: medium;
      font-family: Merriweather-Regular, Cambria, Georgia, serif; }
  .user-info-block .activation-code-block {
    max-width: 96%;
    margin: 0 auto; }
    .user-info-block .activation-code-block .button-block {
      border-radius: 10px; }
    .user-info-block .activation-code-block input {
      text-align: center;
      height: 40px;
      border-radius: 5px;
      width: 76%; }
      .user-info-block .activation-code-block input[value] {
        color: rgba(173, 216, 230, 0.33);
        font-size: larger;
        text-align: center;
        font-family: "OpenSans Regular"; }
      .user-info-block .activation-code-block input:focus {
        color: black;
        font-size: medium; }
      .user-info-block .activation-code-block input:visited {
        color: black;
        font-size: medium; }
      .user-info-block .activation-code-block input:hover {
        box-shadow: 0px 0px 8px lightblue;
        border-radius: 7px; }

.row {
  padding-left: 20px;
  padding-right: 20px; }
  .row h1 {
    line-height: 4.1;
    font-size: x-large;
    color: #3b52a0;
    margin: 0 auto;
    text-align: center;
    font-family: Merriweather-Regular, Cambria, Georgia, serif; }

.item {
  width: 100%;
  padding: 20px 0 0 20px;
  margin: 2% 0;
  background-image: linear-gradient(-180deg, #FDFDFD 0%, #E9EDF1 100%);
  border: 1px solid #DAE3ED;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #062B51;
  letter-spacing: 0;
  line-height: 22px;
  font-weight: 600; }
  .item.important {
    background: #E8F7FF;
    border: 1px solid #CCEDFF;
    border-radius: 10px;
    font-weight: 100; }
    .item.important h1 {
      text-align: center;
      margin-top: 0px;
      font-family: Merriweather-Regular, Cambria, Georgia, serif;
      font-size: 20px; }
    .item.important .description {
      padding: 0;
      font-weight: normal; }
  .item img {
    width: 90px;
    float: left;
    margin-bottom: 0; }
  .item div.title a {
    color: #3b52a0; }
  .item .title {
    font-size: 20px;
    padding-left: 105px;
    color: #3b52a0; }
  .item .description {
    color: #0B4176;
    font-size: 15px;
    font-weight: 600;
    text-align: start;
    padding: 0px 0px 0px 105px;
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif; }
    .item .description ul li {
      color: #0a7dd2;
      margin-left: -25px;
      font-size: small; }
    .item .description .list {
      color: #9c9c9c;
      font-size: small;
      font-weight: lighter;
      text-align: start;
      margin-top: 10px; }
  .item .buttons {
    margin: 10px 0 5px 0;
    float: right; }
    .item .buttons .ios.down-button img {
      width: 125px;
      padding-left: 10px; }
    .item .buttons .android.down-button img {
      width: 123px; }
    .item .buttons a {
      padding: 1px;
      width: 150px;
      border-radius: 50px;
      margin-bottom: 10px;
      font-weight: 700; }
      .item .buttons a:nth-child(1) {
        margin-right: -30px; }
      .item .buttons a:nth-child(2) {
        margin-right: 0px; }

body {
  color: #595757; }
  body .whiteback {
    background-color: #ffffff; }
    body .whiteback .item {
      background-color: #f5f5f5; }
  body .greyback {
    background-color: #f5f5f5; }
    body .greyback .item {
      background-color: #ffffff; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both; }

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 0;
  width: 1.0em;
  height: 1.0em;
  float: left;
  margin-right: 1.0em; }

.radio .cr {
  border-radius: 50%; }

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%; }

.radio .cr .cr-icon {
  margin-left: 0.04em; }

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none; }

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in; }

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1; }

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5; }

.col-sm-6.col-xs-12 .col-lg-6:last-child :last-child {
  margin-bottom: 0px; }

.filterblock {
  padding: 20px 20px 32px 20px; }
  .filterblock label {
    padding: 20px; }

.text-center.text-info.first-title {
  line-height: 2.9;
  font-weight: lighter;
  font-size: 28px; }

@media only screen and (max-width: 660px) {
  #head .language-selection {
    margin: 30px -30px; }
/*   .wrapper {
    max-width: 565px;
    margin: 5px; } */
  .item {
    text-align: center; }
    .item img {
      width: 100px;
      display: block;
      float: none;
      margin: 0 auto; }
    .item .title {
      padding-left: 0px; }
    .item .description {
      padding: 15px 10px 0px 0px;
      text-align: left; }
    .item .buttons {
      margin: 30px 0 0 0;
      text-align: center;
      float: none; }
      .item .buttons a {
        border-radius: 50px;
        margin: auto 0;
        font-weight: 700; }
        .item .buttons a:nth-child(1) {
          margin-right: 10px; }
        .item .buttons a:nth-child(2) {
          margin-right: 10px; }
  .user-info-block .activation-code-block input {
    width: 72%; } }

@media only screen and (max-width: 420px) {
  #head .logo-img {
    width: 160px;
    margin: 25px 0 0 -10px; }
  #head .language-selection {
    margin: 30px -30px; }
  .item {
    text-align: center;
    padding: 2% 10px 0 10px; }
    .item.important .description {
      font-size: small; }
    .item img {
      display: block;
      float: none;
      margin: 0 auto; }
    .item .title {
      padding-left: 0px; }
    .item .description {
      padding: 15px 10px 0px 0px;
      text-align: left; }
    .item .buttons {
      margin: 30px 0 0 0;
      text-align: center; }
      .item .buttons .ios.down-button img {
        width: 125px;
        padding-left: 1px; }
      .item .buttons a {
        padding: 6px 0;
        width: 100%;
        border-radius: 50px;
        margin-bottom: 10px;
        font-weight: 700; }
        .item .buttons a:nth-child(1) {
          margin-right: 10px; }
        .item .buttons a:nth-child(2) {
          margin-right: 10px;
          padding: 0; }
          .item .buttons a:nth-child(2) img {
            padding: 0; } }

@media only screen and (max-width: 360px) {
  #head .logo-img {
    width: 105px;
    margin: 25px 0 0 -10px; }
  #head .language-selection {
    margin: 30px -30px; }
  .row h1 {
    font-size: medium;
    font-weight: 600; }
  .item {
    padding: 2% 0 0 10px; }
    .item.important .description {
      font-size: small; } }
