*{
    margin: 0px;
    padding: 0px;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    min-height: 100%;
    font-family: OpenSans, serif;
}

/* ------------------------------------------------------------------------------------------------------------------ */

@media only screen and (min-device-width : 569px) {
/*     .wrapper {
        width: 100%;
        max-width: 600px;
        margin: 0px auto;
    } */

    .register-button-block {
        width: 50%;
        height: 40px;
        text-align: center;
        margin: 0px 10px 0px 25%;
        background-image: linear-gradient(-180deg, #6FE966 5%, #44CB52 95%);
        border: 1px solid #48BC3F;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50), inset 0px 2px 1px 0px rgba(255,255,255,0.55);
        border-radius: 5px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
/*     .wrapper {
        max-width: 600px;
        min-height: 100%;
        margin: 0px 10px 0px 10px;
    } */

    .register-button-block {
        width: auto;
        height: 40px;
        text-align: center;
        margin: 0px 10px 0px 10px;
        background-image: linear-gradient(-180deg, #6FE966 5%, #44CB52 95%);
        border: 1px solid #48BC3F;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50), inset 0px 2px 1px 0px rgba(255,255,255,0.55);
        border-radius: 5px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
    .wrapper {
        width: 80%;
        max-width: 600px;
        min-height: 100%;
        margin: 0px auto;
    }

    .register-button-block {
        width: 50%;
        height: 40px;
        text-align: center;
        margin: 0px 10px 0px 25%;
        background-image: linear-gradient(-180deg, #6FE966 5%, #44CB52 95%);
        border: 1px solid #48BC3F;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50), inset 0px 2px 1px 0px rgba(255,255,255,0.55);
        border-radius: 5px;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */

#head{
    width: 100%;
    position: relative;
    z-index: 1;
}

#head .logo-img{
    display: block;
    width: 140px;
    height: auto;
    float: left;
    margin-top: 20px;
}

#head .language-selection{
    width: 140px;
    height: auto;
    float: right;
    font-family: "Helvetica neue", "Arial" ,sans-serif;
}

#head .language-selection ul{
    list-style: none;
    cursor: pointer;
    position: relative;
}

#head .language-selection .main-language{
    display: block;
    width: 140px;
    height: 28px;
    background-image: linear-gradient(-180deg, #F6F6F6 3%, #E2E2E2 97%);
    border: 1px solid #D2D2D2;
    border-radius: 7px;
    margin-top: 22px;
    position: relative;
    right: 10px;
    cursor: pointer;
}

#head .language-selection .main-language .flag{
    width: 23px;
    height: 15px;
    display: block;
    float: left;
    margin-top: 6px;
    margin-left: 9px;
}

#head .language-selection .main-language span{
    margin-left: 10px;
    position: relative;
    top: 3px;
    font-size: 18px;

}

#head .language-selection .main-language .trigon{
    width: 12px;
    height: 6px;
    display: block;
    float: right;
    margin-top: 11px;
    margin-right: 9px;
}

#head .language-selection .second-language{
    width: 180px;
    height: 50px;
    background-color: white;
    box-shadow: 0px 0px 8px black;
    position: absolute;
    top: 30px;
    right: 8px;
    border-radius: 3px;
    display: none;
    z-index: 2;
}

#head .language-selection .second-language.active{
    display: block;
}

#head .language-selection .second-language .flag{
    width: 23px;
    height: 15px;
    display: block;
    margin-top: 17px;
    margin-left: 20px;
    float: left;
}

#head .language-selection .second-language a{
    text-decoration: none;
    color: black;
}

#head .language-selection .second-language span{
    margin-left: 10px;
    position: relative;
    top: 14px;
    font-size: 18px;
    color: black;
}

#head .head-title{
    display: block;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: #00345C;
    margin-top: 30px;
    font-family: OpenSans, serif;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#head .user-block{
    width: auto;
    float: right;
    margin-top: 25px;
    position: relative;
}

#head .user-block .user-name{
    float: right;
    cursor: pointer;
}

#head .user-block .user-name-icon{
    width: 16px;
    height: auto;
    margin-right: 8px;
}

#head .user-block span{
    position: relative;
    top: -4px;
    border-bottom: 1px dashed black;
    margin-right: 8px;
    font-size: 17px;
}

#head .user-block .user-name-trigon{
    width: 12px;
    height: auto;
    position: relative;
    top: -6px;
}

#head .user-block .user-menu{
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50);
    border-radius: 3px;
    display: none;
    width: 180px;
    position: absolute;
    top: 35px;
    right: 0px;
    text-align: center;
}

#head .user-block .user-menu.active{
    display: block;
}

#head .user-block .user-menu a{
    display: block;
    text-decoration: none;
    color: #494949;
    padding: 15px;
}

#head .user-block .user-menu a:hover{
    display: block;
    text-decoration: none;
    background-color: #e0e0e0;
    color: #494949;
    padding: 15px;
}

#head .user-block .user-menu a:last-of-type{
    border-top: 1px solid #d8d8d8;
}


/* ------------------------------------------------------------------------------------------------------------------ */

.info-block{
    width: 100%;
    height: auto;
}

.info-block .description{
    font-size: 18px;
    color: black;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.info-block .grey-block-info{
    width: 100%;
    height: auto;
    background-color: #F1F1F1;
    margin: 15px auto;
    color: #525252;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.info-block .grey-block-info div{
    width: auto;
    height: auto;
    margin: 0px auto;
}

.info-block .grey-block-info p{
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 17px;
}

.info-block .grey-block-info p:first-of-type{
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}

.info-block .grey-block-info ul{
    list-style-position: inside;
    display: inline-block;
    width: 92%;
    margin-left: 20px;
    font-size: 17px;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#changepass-page .info-block .grey-block-info ul{
    list-style-position: inside;
    display: inline-block;
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 17px;
}

/* ------------------------------------------------------------------------------------------------------------------ */

/* .user-info-block{
    width: 100%;
    height: auto;
}
 */
.user-info-block .description{
    font-size: 18px;
    color: black;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.user-info-block .activation-code-block{
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.user-info-block .activation-code-block p{
    display: block;
    margin: 10px auto;
    font-size: 18px;
}

.user-info-block .activation-code-block input{
    height: 40px;
    border-radius: 0px;
    border: 1px solid #CACACA;
    text-indent: 10px;
    width: 70%;
    font-size: 20px;
}

.user-info-block .activation-code-block .button-block{
    float: right;
    width: 20%;
    position: relative;
    top: 0px;
}

.user-info-block .block-info{
    width: 100%;
    height: auto;
    margin-top: 35px;
}

.user-info-block .block-info .block-info-title{
    font-size: 18px;
    border-bottom: 1px solid black;
}

.user-info-block .block-info .no-active-dictionaries{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.user-info-block .block-info .no-active-dictionaries img{
    float: left;
    margin-right: 15px;
}

.user-info-block .block-info .no-active-dictionaries p{
    color: #9D9D9D;
    font-size: 16px;
}

.user-info-block .block-info .active-dictionaries{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.user-info-block .block-info .active-dictionaries img{
    float: left;
    margin-right: 15px;
}

.user-info-block .block-info .active-dictionaries .dict-title{
    font-size: 17px;
    color: black;
}

.user-info-block .block-info .active-dictionaries .code-valid{
    font-size: 17px;
    color: #9D9D9D;
    margin-top: 20px;
}

.user-info-block .block-info .active-dictionaries .black{
    font-size: 16px;
    color: black;
}

.user-info-block .block-info .active-dictionaries .badges{
    width: 270px;
    margin: 20px auto 0px auto;
}

.user-info-block .block-info .active-dictionaries .badges img{
    width: auto;
    height: 38px;
    display: block;
}

.user-info-block .block-info .active-dictionaries .badges img:first-of-type{
    float: left;
}

.user-info-block .block-info .active-dictionaries .badges img:last-of-type{
    float: right;
}

.user-info-block .block-info .active-dictionaries .attention-block{
    width: 100%;
    background-color: #E7E7E9;
    padding: 25px;
    border-radius: 25px;
    margin-top: 35px;
}

.user-info-block .block-info .active-dictionaries .attention-block p{
    font-size: 16px;
    text-align: center;
}

.user-info-block .block-info .active-dictionaries .attention-block p .bold-text{
    font-weight: bold;
}

.user-info-block .block-info .active-dictionaries .attention-block p .red-text{
    color: red;
}

.user-info-block .block-info .active-dictionaries .attention-block .title{
    background-color: transparent;
    padding: 0px;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.reg-log-block{
    width: 100%;
    height: auto;
}

.reg-log-block .reg-log-buttons{
    list-style: none;
}

.reg-log-block .reg-log-buttons li{
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 18px;
    color: #0F72A9;
    text-decoration: underline;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.reg-log-block .reg-log-buttons li.active{
    background-color: #E9F1F6;
    color: #00264A;
    cursor: default;
    text-decoration: none;
}

.reg-log-block .reg-block{
    background-color: #E9F1F6;
    position: relative;
    top: 40px;
    display: none;
}

.reg-log-block .reg-block.active{
    display: block;
}

.reg-log-block p{
    display: block;
    margin-left: 2.5%;
    margin-top: 15px;
    font-size: 16px;
}

.reg-log-block input{
    height: 24px;
    border-radius: 0px;
    border: 1px solid #CACACA;
    text-indent: 10px;
}

.reg-log-block input.error{
    border: 1px solid red;
}

.reg-log-block .first-last-name .error-text{
    clear: both;
    color: red;
    font-size: 14px;
    margin-left: 5%;
}

.error-text{
    clear: both;
    color: red;
    font-size: 14px;
    margin-left: 2.5%;
}

/*// регистрационные поля ввода с  картинками*/
/* .reg-log-block input[type=email]{
    width: 95%;
    height: 24px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-image: url('../images/user.svg');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 13px;
    text-indent: 30px;
}

.reg-log-block input[type=text]{
    width: 95%;
    height: 24px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.reg-log-block input[type=password]{
    width: 95%;
    height: 24px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-image: url('../images/lock.svg');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 13px;
    text-indent: 30px;
} */

.reg-log-block .reg-block .first-last-name{
    /*height: 79px;*/
}

.reg-log-block .reg-block .first-last-name p{
    display: block;
    margin-left: 5%;
    margin-top: 0px;
}

.reg-log-block .reg-block .first-last-name input{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.reg-log-block .reg-block .first-last-name .first-name{
    width: 50%;
    height: auto;
    float: left;
}

.reg-log-block .reg-block .first-last-name .last-name{
    width: 50%;
    height: auto;
    float: right;
}

.reg-log-block .reg-block .register-agree-block{
    margin-top: 30px;
    font-size: 16px;
    margin-right: 2.5%;
    margin-left: 3%;
}

.reg-log-block .reg-block .register-agree-block label{
    width: 26px;
    height: 26px;
    display: block;
    position: relative;
    margin-left: 2.5%;
    margin-right: 10px;
    float: left;
}

.reg-log-block .reg-block .register-agree-block input[type=checkbox]{
    width: auto;
    border: none;
    margin-top: 2px;
    margin-bottom: 30px;

}

.reg-log-block .reg-block .register-agree-block input[type=checkbox] + span{
    position: absolute;
    left: 0;
    top: 4px;
    width: 100%;
    height: 100%;
    background: url("../images/checkbox_unchecked.svg") no-repeat;
    cursor: pointer;
}

.reg-log-block .reg-block .register-agree-block input[type=checkbox]:checked + span{
    background: url("../images/checkbox_checked.svg") no-repeat;
}

.reg-log-block .reg-block .register-agree-block input[type=checkbox].error + span{
    background: url("../images/checkbox_error.svg") no-repeat;
}

.reg-log-block .reg-block .register-agree-block input[type=checkbox].error:checked + span{
    background: url("../images/checkbox_checked.svg") no-repeat;
}

.button-block {
	width: auto;
	height: 40px;
	text-align: center;
	margin: 0px 10px 0px 10px;
	background-image: linear-gradient(-180deg, #6FE966 5%, #44CB52 95%);
	border: 1px solid #48BC3F;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50), inset 0px 2px 1px 0px rgba(255,255,255,0.55);
	border-radius: 5px;
	cursor: pointer;
}

.button-block a{
    display: block;
    width: 100%;
    text-decoration: none;
}

.login.button-block{
    margin-top: 20px;
}

.red-button{
    text-align: center;
    font-family: "Helvetica neue", "Arial" ,sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    line-height: 40px;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.50);
    cursor: pointer;
}

.green-button{
	text-align: center;
    font-family: OpenSans, serif;
	font-size: 17px;
	color: #FFFFFF;
	line-height: 40px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.50);
    cursor: pointer;
}

.green-button{
    text-align: center;
    font-family: OpenSans, serif;
    font-size: 17px;
    color: #FFFFFF;
    line-height: 40px;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.50);
    cursor: pointer;
}

.reg-log-block .log-block{
    background-color: #E9F1F6;
    position: relative;
    top: 40px;
    display: none;
}

.reg-log-block .log-block.active{
    display: block;
}

.forgot-pass{
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.forgot-pass a{
    color: #578FD0;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px dashed #578FD0;
}

.forgot-pass a:hover{
    border-bottom-style: solid;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.changepass-block p{
    display: block;
    margin-left: 2.5%;
    margin-top: 15px;
    font-size: 16px;
}

.changepass-block input{
    height: 24px;
    border-radius: 0px;
    border: 1px solid #CACACA;
    text-indent: 10px;
}

.changepass-block input.error{
    border: 1px solid red;
}

.changepass-block input[type=password]{
    width: 95%;
    height: 24px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-image: url('../images/password_icn.svg');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 13px;
    text-indent: 30px;
}

.red {
    width: 40%;
    float: left;
    height: 40px;
    text-align: center;
    margin: 25px 10px 0px 10px;
    background-image: linear-gradient(-180deg, #E96E66 9%, #CB4444 93%);
    border: 1px solid #BC723F;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.50), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.55);
    border-radius: 5px;
    cursor: pointer;
}

.green{
    width: 40%;
    float: right;
    height: 40px;
    text-align: center;
    margin: 25px 10px 0px 10px;
    background-image: linear-gradient(-180deg, #6FE966 5%, #44CB52 95%);
    border: 1px solid #48BC3F;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50), inset 0px 2px 1px 0px rgba(255,255,255,0.55);
    border-radius: 5px;
    cursor: pointer;
}

.changepass-block .new-pass-info{
    font-size: 14px;
    margin-top: 0px;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#resetpass-page .info-block .description{
    margin-bottom: 20px;
}

.resetpass-block-wrapper{
    background-color: #E9F1F6;
    position: relative;
    border-radius: 10px;
    padding-bottom: 25px;
}

.resetpass-block p{
    display: block;
    margin-left: 2.5%;
    margin-top: 15px;
    font-size: 16px;
}

.resetpass-block input{
    height: 24px;
    border-radius: 0px;
    border: 1px solid #CACACA;
    text-indent: 10px;
}

.resetpass-block input.error{
    border: 1px solid red;
}

.resetpass-block input[type=email]{
    width: 95%;
    height: 24px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-image: url('../images/username_icn.svg');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 13px;
    text-indent: 30px;
}

#forgottenpass-page .resetpass-block-wrapper{
    background-color: transparent;
}

.resetpass-block-wrapper .resetpass-title{
    margin-top: 20px;
    text-align: center;
    font-size: 19px;
}

#forgottenpass-page .green{
    width: 95%;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.confirmchanges-block .title{
    font-size: 20px;
    text-align: center;
}

.confirmchanges-block .title-description{
    font-size: 16px;
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.footer{
    width: 100%;
    height: auto;
    background-color: #000066;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer .footer-hrefs{
    color: white;
    text-align: center;
}

.footer .footer-hrefs a{
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.footer .footer-hrefs a.privacy{
    color: white;
    margin-left: 1px;
    margin-right: 1px;
}

.footer .footer-text{
    margin-top: 20px;
    color: white;
    text-align: center;
}
