.row {
    padding-left: 20px;
    padding-right: 20px;
}

.row h1 {
    line-height: 2.1;
    font-size: xx-large;
    color: #3b52a0;
}

.user-info-block .block-info .active-dictionaries .badges.shops {
    width: 100%;
    margin: -11px auto 21px auto;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}

.buttons {
    margin: 30px 0 0 0;
    overflow: hidden;
}

.buttons.show a {
    width: 240px;
    margin: 0 auto;
    display: block;
    text-align: center;
    overflow: auto;
    line-height: 28px;
    border-radius: 10px;
}

.buttons .btn-primary {
    background: #4cc314;
    background: -webkit-gradient(linear, left top, left bottom, from(#6FE966), to(#44CB52));
    background: -webkit-linear-gradient(top, #6FE966 5%, #44CB52 95%);
    background: -moz-linear-gradient(top, #6FE966 5%, #44CB52 95%);
    background: -ms-linear-gradient(top, #6FE966 5%, #44CB52 95%);
    background: -o-linear-gradient(top, #6FE966 5%, #44CB52 95%);
    background-image: -ms-linear-gradient(top, #6FE966 5%, #44CB52 95%);
    border: transparent;
}

.buttons .btn-primary:hover {
    background: #4cc314;
    background: -webkit-gradient(linear, left top, left bottom, from(#6FE966), to(#0ca00f));
    background: -webkit-linear-gradient(top, #6FE966 5%, #0ca00f 95%);
    background: -moz-linear-gradient(top, #6FE966 5%, #0ca00f 95%);
    background: -ms-linear-gradient(top, #6FE966 5%, #0ca00f 95%);
    background: -o-linear-gradient(top, #6FE966 5%, #0ca00f 95%);
    background-image: -ms-linear-gradient(top, #6FE966 5%, #0ca00f 95%);
    border: transparent;
}

.user-info-block .block-info .active-dictionaries .attention-block {
    padding: 10px 1%;
}

#head p.head-title {
    font-weight: 700;
    margin-top: 10%;
}
#head .language-selection .main-language:hover{
    box-shadow: 0px 0px 8px #000000;
}
.user-info-block .activation-code-block .button-block {
    border-radius: 18px;
}
/* .reg-log-block input {
    border-radius: 7px;
    width: 89%;
    height: 24px;
    margin-left: 8.5%;
    margin-right: 2.5%; }
.reg-log-block input:hover {
    box-shadow: 0px 0px 8px lightblue;
    border-radius: 7px;
    outline: none;
    }
.reg-log-block .log-block,
.footer{
    border-radius: 7px;
} */
.footer{
    padding: 3%;
}
.reg-log-block .username-block {
    position: relative; }
.reg-log-block .username-block .svg-user-login {
    width: 95%;
    position: absolute;
    height: 176px;
    margin-left: 1.5%;
    margin-right: 2.5%;
    /*background-image: url("../images/username_icn.svg");*/
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 13px;
    text-indent: 30px; }

.reg-log-block .password-block {
    position: relative; }
.reg-log-block .password-block .svg-password-login {
    width: 95%;
    position: absolute;
    height: 89px;
    margin-left: 1.5%;
    margin-right: 2.5%;
    /*background-image: url("../images/password_icn.svg");*/
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 13px;
    text-indent: 30px; }

.reg-log-block .username-block {
    position: relative; }
.reg-log-block .username-block .svg-user {
    width: 95%;
    position: absolute;
    height: 89px;
    margin-left: 1.5%;
    margin-right: 2.5%;
    /*background-image: url("../images/username_icn.svg");*/
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 13px;
    text-indent: 30px; }

.reg-log-block .password-block {
    position: relative; }
.reg-log-block .password-block .svg-password {
    width: 95%;
    position: absolute;
    height: 89px;
    margin-left: 1.5%;
    margin-right: 2.5%;
    background-image: url("../images/password_icn.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 13px;
    text-indent: 30px; }

.reg-log-block .confirm-password-block {
    position: relative; }
.reg-log-block .confirm-password-block .svg-confirm {
    width: 95%;
    position: absolute;
    height: 89px;
    margin-left: 1.5%;
    margin-right: 2.5%;
    background-image: url("../images/password_icn.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 13px;
    text-indent: 30px; }

.user-info-block .activation-code-block .button-block {
    background: #4cc314;
    background: -webkit-gradient(linear, left top, left bottom, from(#6FE966), to(#44CB52));
    background: -webkit-linear-gradient(top, #6FE966 5%, #44CB52 95%);
    background: -moz-linear-gradient(top, #6FE966 5%, #44CB52 95%);
    background: -ms-linear-gradient(top, #6FE966 5%, #44CB52 95%);
    background: -o-linear-gradient(top, #6FE966 5%, #44CB52 95%);
    background-image: -ms-linear-gradient(top, #6FE966 5%, #44CB52 95%);
    border: transparent;
}
.user-info-block .activation-code-block .button-block:hover {
    background: #4cc314;
    background: -webkit-gradient(linear, left top, left bottom, from(#6FE966), to(#0ca00f));
    background: -webkit-linear-gradient(top, #6FE966 5%, #0ca00f 95%);
    background: -moz-linear-gradient(top, #6FE966 5%, #0ca00f 95%);
    background: -ms-linear-gradient(top, #6FE966 5%, #0ca00f 95%);
    background: -o-linear-gradient(top, #6FE966 5%, #0ca00f 95%);
    background-image: -ms-linear-gradient(top, #6FE966 5%, #0ca00f 95%);
    border: transparent;
}

.button-block a:hover {
    color: white;
    text-decoration: none;
}

.button-block a {
    font-weight: 500;
    font-family: OpenSans-Bold;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.50);
}
.buttons.show a {
    font-size: large;
    font-weight: 500;
}
.item {
    width: 100%;
    padding: 26px;
    margin: 0 0 0 0;
}

.item img {
    width: 80px;
    float: left;
    margin-bottom: 20px;
}

.item div.title a {
    color: #3b52a0;
}

.item .title {
    font-size: 15px;
    padding-left: 105px;
    color: black;
    vertical-align: middle;
    display: inline-flex;
    text-align: left;
    margin: -73px 0 0 0;
    font-weight: 600;
}

#head .language-selection .main-language {
    display: block;
    width: 102px;
    height: 32px;
}

#head .language-selection .second-language {
    width: auto;
    height: 41px;
    background-color: white;
    box-shadow: 0px 0px 8px black;
    position: absolute;
    top: 28px;
    right: 87px;
    border-radius: 14px;
    display: none;
    z-index: 2;
    padding: 0 14%;
}

#head .language-selection .second-language span {
    margin-left: 3px;
    position: relative;
    top: 8px;
    font-size: 18px;
    color: black;
}

@media only screen and (min-width: 661px) and (max-width: 970px) {
    .item .buttons a {
        width: 185px;
        padding: 3px 0;
        font-size: medium;
    }

    .item .buttons a:nth-child(1) {
        margin-right: 20px;
    }

    .item .buttons a:nth-child(2) {
        margin-right: 20px;
    }
}
@media only screen and (min-width: 363px) and (max-width: 631px) {
    .reg-log-block .password-block .svg-password-login,
    .reg-log-block .password-block .svg-password
    {
        height: 134px;}
}
@media only screen and (max-width: 630px){

        .reg-log-block .password-block .svg-password-login,
        .reg-log-block .password-block .svg-password
        {
            height: 175px;}
    .registerForm{
        padding:3%;
    }

    .reg-log-block input {
        border-radius: 7px;
        width: 83%;
        height: 24px;
        margin-left: 14.5%;
        margin-right: 2.5%;
    }
    .size {
        /*width: 94%;*/
        /*overflow: hidden;*/
        /*white-space: nowrap;*/
        /*-o-text-overflow: ellipsis;*/
        /*text-overflow: ellipsis;*/
        width: 94%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;

    }
    .item {
        text-align: center;
        padding: 0;
    }

    .item img {
        display: block;
        float: none;
        margin: 0 auto 20px auto;
        padding-top: 4%;
    }

    .item .dict-title.title {
        padding: 0px 0px 18px 0;
        margin: -4px 0 0 0;
        border-bottom: 1px solid black;
        width: 100%;
    }

    .item .description {
        padding: 15px 10px 0px 0px;
        text-align: left;
    }

    .item .buttons {
        margin: 30px 0 0 0;
        text-align: center;
    }

    .item .buttons a {
        padding: 6px 0;
        width: 100%;
        border-radius: 50px;
        margin-bottom: 10px;
        font-weight: 700;
    }

    .item .buttons a:nth-child(1) {
        margin-right: 10px;
    }

    .item .buttons a:nth-child(2) {
        margin-right: 10px;
    }


}

@media only screen and (max-width: 320px){
    .reg-log-block .password-block .svg-password-login,
    .reg-log-block .password-block .svg-password
    {
        height: 175px;}


    .item {
        text-align: center;
        padding: 0;
    }

    .item img {
        display: block;
        float: none;
        margin: 0 auto 20px auto;
        padding-top: 7%;
    }

    .item .title {
        padding-left: 0px;
    }

    .item .description {
        padding: 15px 10px 0px 0px;
        text-align: left;
    }

    .item .buttons {
        margin: 30px 0 0 0;
        text-align: center;
    }

    .item .buttons a {
        padding: 6px 0;
        width: 100%;
        border-radius: 50px;
        margin-bottom: 10px;
        font-weight: 700;
    }

    .item .buttons a:nth-child(1) {
        margin-right: 10px;
    }

    .item .buttons a:nth-child(2) {
        margin-right: 10px;
    }
}
