*,
*:before,
*:after {
    box-sizing: border-box;
}
*{margin:0; padding: 0;}

@font-face {
    font-family: TrebuchetMSRegular; 
    src: url(fonts/TrebuchetMSRegular/TrebuchetMSRegular.ttf); 
   }

body {
	font-size: 12px;
	font-family: TrebuchetMSRegular;
	line-height: 18px;
}

/*--- ХИДЕР ---*/
.search_form {text-align: right; position: relative; margin-top: 18px;}

.header{width: 100%;height: 80px;}
.logo{width:200px;height: 80px;float: left;padding-left:15px;}
.navbar{height: 80px;margin: 0px auto;float: right; margin: 21px 0; border-bottom: 1px solid #e7e7e7;}
.navbar li{float: left;list-style: none;width: 130px;height: 54px;border-left: 1px solid #e7e7e7; padding: 0 11px;}
.navbar li:first-child{border-left: none;}
.navbar li:nth-child(2){width: 165px;}
.navbar li:nth-child(3){width: 185px;}			
.navbar li a{text-decoration: none;color: #1ec8ed;font-size: 16px;display: block;text-align: center;}


.single {
	padding-top: 10px;
}

#head-search input[name="loop"], #head-search-xs input[name="loop"] {
	position: absolute;
	top: 0;
	right: 0px;
	width: 23px;
	height: 23px;
	border: 0;
	background: url(images/search.png) center no-repeat;
	cursor: pointer;
}
#head-search input[name="search"], #head-search-xs input[name="search"] {
    height: 23px;
    max-width: 251px;
    padding: 0 185px 5px 12px;
    font-size: 14px;
    color: #cccccc;
    border: 1px solid #cccccc;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-family: cursive;
}
/*--- КОНЕЦ ХИДЕРА ---*/

/*--- КОНТЕНТНЫЙ БЛОК ---*/
.content {
	background-image: url(images/bg1.png); 
	background-repeat: no-repeat; 
	background-position: 43% 0%;
}

.area_wrap {
	min-height: 454px;
	overflow: hidden;
}

.wrap_top {
	margin-top: 20px;
}

.top_left {
	padding-right: 67px;
}

.top_right {
	padding-left: 23px;
	padding-right: 45px;
	text-align: right;
}

.bottom_left {
	padding-right: 66px;
}

.bottom_right {
	padding-left: 61px;
}

.wrap_bottom {
	margin-bottom: 55px;
}

.line.block {
  position: relative;
}

.line.block:before {
  content: '';
  background: #8b8b8b;
  width: 1px;
  position: absolute;
  z-index: 1;
}				

.top_left:before {
	transform: rotate(-45deg);
	top: 72px;
	right: 106px;
	height: 95px;
}

.top_right:before {
	transform: rotate(27deg);
	top: 42px;
	left: 66px;
	height: 82px;
}

.bottom_left:before {
	transform: rotate(44deg);
	top: -111px;
	right: 64px;
	height: 121px;
}

.bottom_right:before {
	transform: rotate(-65deg);
	top: -65px;
	left: -6px;
	height: 134px;
}

.last-col {
	margin: 10px 0 105px 0;
}


/*--- ФУТЕР ---*/
.footer_wrap {
	border-top: 1px solid #cccccc;
	padding: 34px 0;
}

.footer_navbar {
	text-align: left;
}

.footer_navbar li {
	display: inline-block;
	list-style: none;
	border-left: 1px solid #cccccc;
	padding: 0 22px;
	font-size: 12px;
}

.footer_navbar li:first-child {
	border-left: none;
	padding-left: 0;
}

.footer_navbar li a {
	text-decoration: none;
	color: #1ec8ed;
}

.copyright {
	color: #000000;
}

.copyright a {
	color: #1ec8ed;
}
/*--- КОНЕЦ ФУТЕРА ---*/		


@media screen and (max-width: 959px){
	.content {background-position: 21% 0%;}
	#head-search-xs {padding-right: 15px;}
	.header{height: 0px;}
	.navbar{width: 100%;height: 50px;margin: 130px auto;margin-top: -40px; padding: 15px; border-bottom: none;}
	.navbar>li{float: none;list-style: none;width: 100%;height: 50px;background: #1ec8ed;border-bottom: 1px solid skyblue;}
	.navbar>li>a{font-size: 16px;line-height: 50px; color: #fff;}
	.search_form{display: block;position: relative;top: 23px;cursor: pointer;margin-right: 15px;}
	.navbar li {border-left: none;}
	.navbar li:nth-child(2){width: 100%;}
	.navbar li:nth-child(3){width: 100%;}
	.logo {margin-bottom: 99px;}
	.single{padding: 0;} 
	.mnu {margin-bottom: 52px;}
	.content {min-height: 618px;}
	.block, .last-col {background: #fff;opacity: 0.7;padding: 15px;}
	.last-col {margin: 0;}
	.line.block:before {display: none;}
	.wrap_top {margin-top: 40px; text-align: left;}
	.wrap_bottom{margin: 9px 0;}
	.hidden {display: none;}
	.area_wrap {min-height: 0px;}
	.footer {margin: 70px 0 0 0;}
}			
@media screen and (max-width: 680px){
	.footer_navbar li {display: block;padding: 4px 0px;border-left: none;}
	.search_form {display: none;}
	#header {margin-top: 41px;}

}
