.item.important.register {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center; }
  .item.important.register .description {
    text-align: center; }
  .item.important.register ul {
    list-style-position: inside;
    display: inline-block;
    width: 90%;
    font-size: 17px;
    text-align: start; }
    .item.important.register ul li {
      color: #0B4176;
      margin-left: 25px; }

.reg-log-block .active .first-last-name p {
  margin-left: 30px; }

.reg-log-block .active p {
  margin-left: 30px; }

.reg-log-block .active input {
  height: 33px;
  margin-top: -10px;
  outline: none; }
  .reg-log-block .active input[type="password"] {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%; }
  .reg-log-block .active input[type="email"] {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%; }
    .reg-log-block .active input[type="email"] .username-block {
      background-image: url("../images/user.svg"); }

.reg-log-block .active .register-agree-block .small {
  font-style: small; }

.reg-log-block .active .register-agree-block .agree {
  margin-top: 10px; }

.reg-log-block .reg-block .register-agree-block input[type=checkbox] + span {
  top: 4px; }

.buttons.show {
  margin-top: 0; }

.forgot-pass a {
  font-size: small;
  text-decoration: none;
  border: none; }
  .forgot-pass a:hover {
    color: #0000b0;
    border: none; }

.reg-log-block .reg-block .first-last-name input {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }

.open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  border-color: transparent; }

.open > .dropdown-toggle.btn-default {
  border-color: transparent; }

.log-block.active, .reg-block.active {
  margin-bottom: 20px; }
